/*
    Mixins

    these contents wouldn't be output to the actual css unless it's used somewhere.

    除非在引入的less文件中使用，否则这些mixin将不会被全部包含在最终css里。
*/

.clearfix() {
    *zoom: 1;
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
// text text title with divide line on the back thingy.
// NOTE:this will not be out putted.
.headsUp() {
  position: relative;
  margin-top: 6em;
  height: 4.167em;
  text-align: center;

  span,
  p {
    z-index: 1;
    display: inline;
    padding: 0 .5em;
    background-color: white;
    font-size: 30px;
  }

  &:after {
    position: relative;
    top: -1.23em;
    z-index: -1;
    // width: 100%;
    display: block;
    border-top: 1.5px solid #ccc;
    content: ' ';
  }
}